# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site
_posts/*
assets/img/posts
# RubyGems
*.gem
*.zip
# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
!.vscode/settings.json
!.vscode/extensions.json

# Misc
_sass/dist
assets/js/dist
